.button {
  color: #ebf0f6;
  font-size: 12px;
  transition: all 0.2s ease;
  padding: 0 7px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  min-height: 20px;
  max-width: 250px;
}

.default {
  background: #343a45;
  text-transform: lowercase;
  &:hover {
    background-color: #454a57;
  }
}

.bet {
  background-color: #77bd4b;
}

.watch {
  color: #944237;
  border: 1px solid #944237;
  background-color: rgb(46 53 61);
  &:hover {
    background-color: #944237;
    color: #ebf0f6;
  }
}
.hoverGreen:hover {
  background-color: #77bd4b;
}

.activeColor:active {
  background: #944237;
}
.active {
  background: #77bd4b;
}

.fontSmall {
  font-size: 12px;
}

.fontMedium {
  font-size: 14px;
}
