.wrapper {
  position: relative;
  height: 60px;
  width: 180px;
  cursor: pointer;
  &:hover {
    .imgMaskLeft,
    .imgMaskRight {
      width: 100%;

      opacity: 1;
      transform: translateX(0) rotateY(0);
      transition: all 0.3s ease-in-out;
    }
    .imgContainer {
      transition: all 0.3s ease-in-out;
    }
    .mask {
      background: rgb(61, 81, 62);

      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
}

.left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.imgContainer {
  position: relative;
  display: flex;

  justify-content: center;

  border-radius: 4px;
  background: #2a2f36;
  z-index: 99;
}

.img {
  width: 60px;
  height: 60px;
}

.imgMaskLeft {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;

  width: 0;
  height: 100%;
  background: rgb(37, 46, 43, 0.7);
  border-radius: 4px;

  opacity: 0;
  transform: translateX(-25%) rotateY(90deg);
  z-index: 99;
}

.imgMaskRight {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 0;

  width: 0;
  height: 100%;
  background: rgb(37, 46, 43, 0.7);
  border-radius: 4px;

  opacity: 0;
  transform: translateX(25%) rotateY(-90deg);
  z-index: 99;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px 15px;
}
.teamName {
  margin-bottom: 10px;
  max-width: 100px;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;

  z-index: 99;
}
.teamOdd {
  border-bottom: 1px solid #77bd4b;

  z-index: 99;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgb(61, 81, 62);
  border-radius: 4px;

  opacity: 0;

  z-index: 1;
}

@media (max-width: 1000px) {
  .teamName {
    max-width: 70px;
  }

  .wrapper {
    width: 160px;
  }
}

@media (max-width: 885px) {
  .teamName {
    max-width: 60px;
  }

  .wrapper {
    width: 140px;
  }
}
@media (max-width: 800px) {
  .teamName {
    max-width: 40px;
  }

  .wrapper {
    width: 120px;
  }
}

@media (max-width: 650px) {
  .teamName {
    max-width: 100px;
  }

  .wrapper {
    width: 180px;
  }
}
@media (max-width: 500px) {
  .teamName {
    max-width: 50px;
  }
  .img {
    width: 60px;
    height: 60px;
  }
  .wrapper {
    width: 130px;
  }
}
