.wrapper {
  position: relative;
  height: 60px;
  width: 180px;
  cursor: pointer;
  &:hover {
    .imgMaskLeft,
    .imgMaskRight {
      width: 100%;

      opacity: 1;
      transform: translateX(0) rotateY(0);
      transition: all 0.3s ease-in-out;
    }
    .imgContainer {
      transition: all 0.3s ease-in-out;
    }
    .mask {
      background: rgb(61, 81, 62);

      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }
}

.left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.imgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background: #2a2f36;
  z-index: 99;
}

.img {
  width: 60px;
  height: 60px;
}

.imgMaskLeft {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;

  width: 0;
  height: 100%;
  background: rgb(37, 46, 43, 0.7);
  border-radius: 4px;

  opacity: 0;
  transform: translateX(-25%) rotateY(90deg);
  z-index: 99;
}

.imgMaskRight {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 0;

  width: 0;
  height: 100%;
  background: rgb(37, 46, 43, 0.7);
  border-radius: 4px;

  opacity: 0;
  transform: translateX(25%) rotateY(-90deg);
  z-index: 99;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px 15px;
}
.teamName {
  margin-bottom: 10px;

  z-index: 99;
}
.teamOdd {
  border-bottom: 1px solid #77bd4b;

  z-index: 99;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgb(61, 81, 62);
  border-radius: 4px;

  opacity: 0;

  z-index: 1;
}
