$font-extra-small: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-big: 20px;

$slowly-duration: 0.5s;
$duration: 0.15s;

$background: #24282e;
$white: #ebf0f6;
$gray: #eee;
$red: #944237;
$gray-green: #3d513e;
$green: #77bd4b;
