.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

@media (max-width: 550px) {
  .header {
    justify-content: center;
  }
}
