.profile {
  display: flex;

  &__left {
    margin-right: 25px;
  }
  &__right {
    display: flex;
  }

  &__money,
  &__stone {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .profile__text {
    margin-right: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .profile__text > span {
    color: #b0b3b9;
  }
  &__money {
    margin-bottom: 8px;
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  &__icon {
    position: relative;
    &__level {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      width: 12px;
      height: 12px;
      font-size: 10px;
      border-radius: 50%;

      background-color: #343a45;
      color: #98f1f2;

      z-index: 1;
    }
    &__image {
      cursor: pointer;

      margin-right: 15px;
      height: 45px;
      width: 45px;

      border-radius: 50%;
      border: 2px solid #98f1f2;

      transition: all 0.2s ease;
      z-index: -1;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__info {
    display: grid;
  }

  &__name {
    color: #98f1f2;
    font-size: 16px;
  }
  &__bets {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #b0b3b9;
    font-size: 12px;
    transition: all 0.2s ease;
    &:hover {
      color: #fff;
    }
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .plus,
  .minus,
  .profile__info__btn {
    display: none;
  }

  @media (max-width: 750px) {
    .profile__buttons,
    &__info,
    .button {
      display: none;
    }

    .plus,
    .profile__info__btn,
    .minus {
      height: 100%;
      width: 100%;
      display: block;
    }
    &__money,
    &__stone {
      grid-template-columns: 5fr 1fr;
    }
  }
}
